.form-group {
    padding: 4px 8px;
}

.label {
    color: rgb(163, 162, 162);
}

.input-text {
    padding: 8px 12px;
    background-color: #FFF6F4;
    width: 100%;
    border-radius: 6px;
    color: rgb(110, 109, 109);

}