.wrapper {
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height));
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    padding: 20px 10rem;
    gap: 8px 12px;
}

.form-group {
    display: flex;
    justify-self: center;

    .label {
        padding-right: 1.4rem;
    }

    .input-search {
        width: 100%;
        background-color: var(--input-color);
        padding: 10px 30px;
        border-radius: 12px;
        color: var(--text-color-field);
    }

    // +.form-group {
    //     margin-left: 12px;
    // }

}


.inner {
    background-color: white;
}

.end-message {
    padding: 8px 0;
    text-align: center;
}

.cover-loading {
    display: flex;
    justify-content: center;

    .loading {
        width: 60px;
        height: 60px;
    }
}