.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--default-layout-header-height);
}

.inner {
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
}

.sidebar {
    width: 300px;
}

.content {
    flex: 1;
}