.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-color: var(--primary);
}

.img {
    max-height: 70%;
    max-width: 70%;
}

.back-to-home {
    position: absolute;
    bottom: 20%;
    padding: 12px 36px;
    background-color: var(--bg-violet);

    &:hover {
        border-color: var(--bg-violet);
        background-color: var(--bg-violet);
        opacity: 0.9;
    }
}